
# node_modules directory
node_modules/

# Build directories
build/
dist/

# Typescript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

